* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 232, 219);
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(71, 54, 46);
  gap: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(255, 255, 255);
}


.logo-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

main {
  flex: 1;
}

@media (max-width:441px) {
  h1 {
    font-size: 15pt;
  }
}

@media (max-width:441px) {
  h1 {
    font-size: 15pt;
  }
}